<main>
{{!-- post artciles that are saved here --}}
<div id="listOfArticles">
    <h3>Saved Articles</h3>
    <ul id="list-of-articles" class="list-group">
      {{#each articles}}
      <li data-id="{{this.id}}" class="list-group-item">
        {{!-- <a id="articleLink" href="articles/{{this.id}}">{{this.title}}</a> --}}
        <p data-id="{{this.is}}">{{this.title}} </p>
        <button id="deleteBtn" class="btn btn-danger delete">ｘ</button>
        <button id="note">Note</button>
        <div id="notes"></div>
      </li>
      {{/each}}
    </ul>
  </div>


    {{!-- button to view notes (modal) --}}
        {{!-- button to delete note --}}
</main>    