<main>
  <div class="container">
    {{!-- post artciles that are saved here --}}
    <div id="listOfArticles">
      <h2>The Latest Buzz from BuzzFeed</h2>
      <ul id="list-of-articles" class="list-group">
        {{#each articles}}
        <li data-id="{{this.id}}" class="list-group-item">
          <img id="flower" src="/assets/images/flower2.png">
          <img id="articleImg" src={{this.img}}>
          <h5>{{this.title}}</h5>
          <p>{{this.description}}</p>
          <P>{{this.link}}</P>
          <button id="saveBtn" data-id="{{this.id}}" class="btn orange darken-2">save</button>


        </li>
        {{/each}}
      </ul>
    </div>

    {{!-- have delete button for article --}}

    {{!-- button to view notes (modal) --}}
    {{!-- button to delete note --}}

  </div>
</main>